Repository sattwyk/autodocs: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, biome-format, typescript-check, go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json

  # Nix formatting
  - repo: local
    hooks:
      - id: nixfmt
        name: Nix Format
        entry: nixfmt
        language: system
        files: \.nix$

  # JavaScript/TypeScript formatting and linting
  - repo: local
    hooks:
      - id: biome-format
        name: Biome Format
        entry: pnpm exec biome format --write
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: true

      - id: typescript-check
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      - id: ruff
        name: Ruff Linter
        args: [--fix]
        files: ^apps/agent/.*\.py$
      - id: ruff-format
        name: Ruff Formatter
        files: ^apps/agent/.*\.py$

  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: bash -c 'cd apps/crawler && go fmt ./...'
        language: system
        files: ^apps/crawler/.*\.go$
        pass_filenames: false
      - id: go-vet
        name: Go Vet
        entry: bash -c 'cd apps/crawler && go vet ./...'
        language: system
        files: ^apps/crawler/.*\.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: bash -c 'cd apps/crawler && go mod tidy'
        language: system
        files: ^apps/crawler/go\.(mod|sum)$
        pass_filenames: false

  # Additional Go linting (optional - only runs if golangci-lint config exists)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd apps/crawler && golangci-lint run'
        language: system
        files: ^apps/crawler/.*\.go$
        require_serial: true

  # Pre-push hooks (run with: pre-commit run --hook-stage push)
  - repo: local
    hooks:
      - id: pnpm-test
        name: PNPM Tests
        entry: pnpm run test
        language: system
        stages: [pre-push]
        pass_filenames: false

      - id: go-test
        name: Go Tests
        entry: bash -c 'cd apps/crawler && go test ./... -v'
        language: system
        files: ^apps/crawler/.*\.go$
        stages: [pre-push]
        pass_filenames: false

chore: update configuration files and clean up formatting
  .cursor/rules/nextjs-react-typescript-cursor-rules.mdc
  .cursor/rules/python-uv.mdc
  .editorconfig
  .gitignore
  .npmrc
  apps/crawler/README.md
  apps/web/public/file.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  pyproject.toml
Due: none

style: format flake.nix
  flake.nix
Due: nixfmt

chore: update flake.nix and flake.lock - Refactor toolchain definitions for clarity, enhance shell setup with environment variables, and update nixpkgs version in flake.lock.
  flake.lock
  flake.nix
Due: nixfmt

chore: weird
  flake.nix
Due: nixfmt

chore: update .gitignore to include .cache directory
  .gitignore
Due: none

chore: enhance crawler configuration - Add file filtering options including binary detection and allowed file extensions, and implement loading of environment variables for configuration management.
  apps/crawler/config.example
  apps/crawler/internal/config/config.go
  apps/crawler/internal/github/client.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: resolve pre-commit hook errors and add godotenv dependency
  README.md
  apps/crawler/.gitignore
  apps/crawler/Makefile
  apps/crawler/TESTING.md
  apps/crawler/coverage.html
  apps/crawler/go.mod
  apps/crawler/go.sum
  apps/crawler/internal/config/config_test.go
  apps/crawler/internal/github/client_test.go
  apps/crawler/internal/metrics/metrics.go
  apps/crawler/internal/metrics/metrics_test.go
  apps/crawler/internal/model/types_test.go
  apps/crawler/internal/worker/pool.go
  apps/crawler/internal/worker/pool_test.go
  apps/crawler/test.sh
  go.work.sum
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

chore: deleted coverage.html - no longer needed
  apps/crawler/coverage.html
Due: none

chore: enhance crawler functionality - Introduce adaptive rate limiting, memory management features, and improved task handling in worker pool for better performance with large repositories.
  apps/crawler/README.md
  apps/crawler/internal/config/config.go
  apps/crawler/internal/github/client_enhanced.go
  apps/crawler/internal/worker/pool_enhanced.go
Due: go-fmt, go-vet, golangci-lint, go-test
